{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atlassian App Analytics</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="{% static 'analytics/css/dashboard.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" rel="stylesheet">
</head>

<body>
    <a class="back-link" href="{% url 'landing_page' %}">← Back to Landing page</a>
    <header class="dashboard-header">
        <div class="header-content">
            <div>
                <h1>Customer Health Dashboard</h1>
                <p class="subtitle">Monitor customer risk, engagement, and trends</p>
            </div>

            <div class="header-actions">
                <span class="date">Updated: {% now "M d, Y" %}</span>
            </div>
        </div>
        <div class="app-header-content">
            <span class="brand">
                <!-- Authored by Dr. Joseph Njeri -->
            </span>
        </div>
    </header>


    <div class="stats">
        <div class="card">Total Customers<br><strong id="total-customers"></strong></div>
        <div class="card">Average Health<br><strong id="average-health-score"></strong></div>
        <div class="card healthy">Healthy<br><strong id="healthy-count"></strong></div>
        <div class="card watch">Watch<br><strong id="watch-count"></strong></div>
        <div class="card risk">High Risk<br><strong id="high-risk-count"></strong></div>
    </div>

    <h2>Health Distribution</h2>
    <div id="chartCanvas">
        <canvas id="mychart"></canvas>
    </div>
    <!-- <script> // Django - Javascript bridge
        window.healthData = {
            healthy: {{ healthy_count }},
            watch: {{ watch_count }},
            high_risk: {{ high_risk_count }}
        };
    </script> -->
    <!-- 
    {{ healthy_count|json_script:"healthy-count" }}
    {{ watch_count|json_script:"watch-count" }}
    {{ high_risk_count|json_script:"high-risk-count" }} -->


    <h2>Customer Health Records</h2>
    <table>
        <thead>
            <tr>
                <th>No</th>
                <th>Customer</th>
                <th>App</th>
                <th>Health Score</th>
                <th>Churn Risk</th>
                <th>Risk Label</th>
            </tr>
        </thead>
        <tbody id="health-records-body"></tbody>
    </table>

    <footer class="app-footer">
        <p>© {% now "Y" %} Dr Joseph Njeri. All rights reserved.</p>
    </footer>
    <script src="{% static 'analytics/js/dashboard.js' %}"></script>

</html>