{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atlassian App Analytics</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="{% static 'analytics/css/dashboard.css' %}">
</head>

<body>
    <h1>Customer Health Dashboard</h1>
    <p>Total Customers: {{ total_customers}}</p>
    <p>Average healthy score: {{ average_health_score }}</p>
    <p>Healthy: {{ healthy_count }}</p>
    <p>Watch: {{ watch_count }}</p>
    <p>High risk: {{ high_risk_count }}</p>

    <h2>Health Distribution</h2>
    <div id="chartCanvas">
        <canvas id="mychart"></canvas>
    </div>
    <!-- <script> // Django - Javascript bridge
        window.healthData = {
            healthy: {{ healthy_count }},
            watch: {{ watch_count }},
            high_risk: {{ high_risk_count }}
        };
    </script> -->
    
    {{ healthy_count|json_script:"healthy-count" }}
    {{ watch_count|json_script:"watch-count" }}
    {{ high_risk_count|json_script:"high-risk-count" }}

    <script src="{% static 'analytics/js/dashboard.js' %}"></script>

    <h2>Customer Health Records</h2>
    <table border="2">
        <thead>
            <tr>
                <th>No</th>
                <th>Customer</th>
                <th>App</th>
                <th>Health Score</th>
                <th>Churn Risk</th>
                <th>Risk Label</th>
            </tr>
        </thead>
        <tbody>
            {% for record in health_records %}
            <tr>
                <td>{{forloop.counter}}</td>
                <!-- <td>{{record.customer.company_name}}</td> -->
                <td>
                    <a href="{% url 'customer_detail' record.customer.id %}">
                        {{record.customer.company_name}}
                    </a>

                </td>
                <td>{{record.customer.app_name}}</td>
                <td>{{record.health_score}}</td>
                <td>{{record.churn_risk}}</td>
                <td>{{record.risk_label}}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5">No health records yet.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>